/* Reset CSS */
* {
    margin: 0;
    padding: 0;
}

/* Global Styles */

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    left:0;
}

.nav-link {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 20px; /* borda arredondada sempre */
    padding: 5px 10px;
    
}

.navbar-nav {
    gap: 10px; /* ou 15px, 20px, como preferir */
}

.nav-link:hover {
    background-color: #fa4704; /* sua cor laranja */
    color: white;
}


.logo-img {
    height: 60px; /* ou 100px, ajuste como quiser */
    width: auto; /* mantém proporção */
}


/* Responsividade da linha do topo */
.linhaTopo {
    display: flex;
    font-size: 14px;
    justify-content: flex-end; /* alinhado à direita */
    align-items: center;
    color: white;
    background-color: #fa4704;
    width: 100%;
    padding: 5px 0px;
    flex-wrap: wrap;
    gap: 10px;
}

.linhaTopo p {
    margin: 0px 20px;
}


.logo img {
    width: 180px;
    height: auto;
}



.contato {
    text-align: center;
}

.contato h1 {
    font-size: 32px; /* Tamanho do texto h1 */
    margin-top: 40px; /* Espaçamento opcional entre h1 e p */
    margin: 20px; /* Espaçamento opcional entre h1 e p */
}

.contato p {
    font-size: 20px; /* Tamanho do texto p */
}

.contatoElementos {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
}

.contatoElementos article {
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 350px;
    height: 130px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    text-align: center;
}

.contatoElementos article:hover {
    background-color: #fa4704;
    color: #fff;
}

.contatoElementos h3 {
    margin-top: 0;
}

.contatoElementos p {
    text-align: center;
}




.whatsappBotaoFixo {
    display: flex; /* Torna o container flexível */
    align-items: center; /* Alinha os itens verticalmente */
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;  /* Coloca o botão do WhatsApp na frente de outros elementos */
    background-color: #00bb2d; /* Cor de fundo do botão do WhatsApp */
    color: white; /* Cor do texto do botão do WhatsApp */
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    max-width: 280px; /* Define o tamanho máximo do botão */
}

.whatsappBotaoFixo img {
    max-width: 20px; /* Ajusta o tamanho da imagem conforme necessário */
    height: auto;
    vertical-align: middle; /* Alinha a imagem verticalmente ao centro */
    margin-right: 5px; /* Adiciona um espaço entre a imagem e o texto */
}

*{
    padding: 0px;
    margin: 0px;
}



.rodape{
    margin: 60px 0px;
    padding: 20px;
    border-top: 2px solid #fa4704;
    width: 100%;
    font-size: 14px;
    text-align: center;


}
.rodape p {
    margin: 0;
    color: #666;
}
.rodape-menu {
    margin-top: 30px; /* Espaço entre o parágrafo e o menu */
    margin-bottom: 50px;
}

.rodape-menu a {
    text-decoration: none;
    margin: 0px 10px;
    padding: 5px 10px;
    display: inline-block;

   
}

.rodape-menu img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
}

.rodape-menu a:hover img {
    transform: scale(1.1);
}

